<div class="row">
	<div class="col-md-12 text-center" ng-if="!isEdit">
		<h4 class="page-header" style="margin-bottom:5px; margin-top:10px;">
			New User
		</h4>
	</div>
	<div class="col-md-12 text-center" ng-if="isEdit">
		<h4 class="page-header" style="margin-bottom:5px; margin-top:10px;">
			Edit User
		</h4>
	</div>
</div>
<form id="formm-create-user" name="frmUser">
		<div class="row" style="margin-top: 10px;">
			<div class="form-group col-md-4">
				<label for="person-type">Person Type</label>
				<select id="person-type" class="form-control" ng-model="newUser.personType" required="true">
					<option value=""> Select One</option>
					<option value="PRO">Professional</option>
					<option value="PAC">Patient</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-3" ng-if="newUser.personType == 'PRO'">
				<label for="collegiate-number">collegiate number:</label>
				<input id="collegiate-number" type="text" name="collegiateNumber" ng-model="newUser.collegiateNumber" ng-required="true" class="form-control"/>
				<div class="invalid-feedback" ng-show="!newUser.collegiateNumber" style="color: red;">
        	Please provide a valid collegiate number.
      	</div>
			</div>
			<div class="form-group col-md-3" ng-if="newUser.personType == 'PAC'">
				<label for="clinical-History-Number">clinical History Number</label>
				<input id="clinical-History-Number" type="text" name="clinicalHistoryNumber"  ng-model="newUser.clinicalHistoryNumber" ng-required="true" class="form-control"/>
				<div class="invalid-feedback" ng-show="!newUser.clinicalHistoryNumber" style="color: red;">
					Please provide a valid clinical History Number.
				</div>
			</div>
			<div class="form-group col-md-3">
				<label for="name">Name</label>
				<input id="name" type="text" ng-model="newUser.name" name="name"
					ng-required="true" class="form-control"/>
					<div class="invalid-feedback" ng-show="!newUser.name" style="color: red;">
						Please provide a valid name.
					</div>
			</div>
			<div class="form-group col-md-3">
				<label for="sur-name">SurName</label>
				<input id="sur-name" type="text" ng-model="newUser.surName" name="surName" ng-required="true" class="form-control"/>
				<div class="invalid-feedback" ng-show="!newUser.surName" style="color: red;">
					Please provide a valid surname.
				</div>
			</div>
			<div class="form-group col-md-3">
				<label for="last-name">LastName</label>
				<input id="last-name" type="text" ng-model="newUser.lastName" name="lastName" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-3">
				<label for="gender">Gender</label>
				<select id="gender" class="form-control" ng-model="newUser.gender" name="gender">
					<option value="">Select One</option>
					<option value="M">Male</option>
					<option value="F">Female</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label for="birth-date">Birth Date</label>
				<input id="birth-date" type="text" ng-model="newUser.birthDate" class="form-control" name="birthDate"/>
			</div>
			<div class="form-group col-md-3">
				<label for="nif">NIF</label>
				<input id="nif" type="text" ng-model="newUser.nif" class="form-control" name="nif" ng-required="true"/>
				<div class="invalid-feedback" ng-show="!newUser.nif" style="color: red;">
					Please provide a valid NIF(identification).
				</div>
			</div>
			<div class="form-group col-md-3" ng-if="newUser.personType == 'PRO'">
				<label for="professional-type">Professional type</label>
				<select id="professional-type" class="form-control" ng-model="newUser.professionalType">
					<option value="">Select One</option>
					<option value="1">Doctor</option>
					<option value="2">Nurse</option>
					<option value="3">Adminstrator</option>
					<option value="4">Contractor</option>
				</select>
			</div>
		</div>
	<form>
	<div class="row text-center">

			<button id="btn-back" class="btn btn-md btn-secondary" ui-sref="^" ng-click="goBack()">
				<span>Go back</span>
			</button>
			<button type="submit" id="btn-save" class="btn btn-primary btn-md" ng-click="save(newUser)" name="action"> {{isEdit ? 'Edit' : 'Save'}}</button>

	</div>
